* {
    background-color:  #66CCFF;
    align-content: center;
    text-align: center;
}
main {
    margin-bottom: 5em;
}
nav {
    margin-left: 1em;
}
nav ul {
    margin: 0em;
    padding: 0em;
    list-style-type: none;
    text-align: center;
}
nav li a {
    display: inline-block;
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}
nav li a:hover {
    color: #000000;
}
nav ul li ul {
    display: none;
}
nav ul li:hover ul {
    display: inline-block;
    border: solid;
    border-width: 0.1em;
    border-color: #000000;
}
nav li:hover ul li {
    float: none;
    border: none;
    background-color: #66CCFF;
}
nav li ul {
    position: absolute;
}
*.paw{
    width: 20%;
}
*.sdl {
    margin-bottom: 0.95em;
}
*.sdl2 {
    margin-bottom: 1.75em;
}
*.footer-img {
    position: fixed;
    width: 100%;
    height: 6.25em;
    bottom: 0em;
    background:transparent url("/static/img/tkfooter.png") 50% 0% no-repeat;
    margin-top: 2em;
}