<html>
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>{% block title %}Twokinds - FR{% endblock %}</title>
            <meta name="description" content="{% block description %}Twokinds Home Page{% endblock %}"/>
            <meta name="keywords" content="Twokinds"/>
            <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
            <link rel="stylesheet" href="/static/css/style.css"/>
            {% block link %}
                <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}
                    <a href=".">
                        <img alt="Logo TK" class="paw" src="/static/img/pawlogo.png">
                    </a>
                    <nav>
                        <ul>
                            <li>
                                <a>
                                    <img src="/static/img/menu.png" alt="Menu">
                                </a>
                                <ul>
                                    <li>
                                        <a href="404">//TODO</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                {% endblock %}
            </header>
            <main>
                <div class="content">
                    {% block content %}
                        {% for i in range(25) %}
                            <p>//TODO</p>
                        {% endfor %}
                    {% endblock %}
                </div>
            </main>
            <footer>
                {% block footer %}
			        <a href="http://twokinds.keenspot.com">
                        <div class="footer-img"></div>
                    </a>
                {% endblock %}
            </footer>
        {% endblock %}
    </body>
</html>
